<% if flash[:notice] %>
	<p class="success-text"><%= flash[:notice] %></p>
<% end %>

<div class="edit-wrapper">
	<h1 class="title">Editing Book</h1>

	<%= form_for @book do |f| %>
		<% if @book.errors.any? %>
			<p><%= @book.errors.count %> error prohibited this book from being saved:</p>
			<ul>
				<% @book.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>

		<div class="edit-title">
			<p>Title</p>
			<%= f.text_field :title %>
		</div>

		<div class="edit-body">
			<p>Body</p>
			<%= f.text_area :body %>
		</div>

		<br>
		<div class="edit-submit">
			<%= f.submit 'Update Book' %>
		</div>

	<% end %>

	<p><%= link_to "Show", book_path(@book) %> |
	<%= link_to "Back", books_path %></p>

</div>